.Searchbar {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #e7ecf2;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.SearchForm {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  position: relative;
}

.SearchFormButton {
  display: flex;
  width: 40px;
  height: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #5c91b1;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 5px;
  transform: translate(0);
  transition: background-color 0.25s ease-out;
  color: #fff;
}

.SearchFormButton:before {
  background: #fff;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 100%;
}

.SearchFormButton:hover {
  background-color: #155889;
}

.SearchFormButtonLabel {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.SearchFormInput {
  background: #fff;
  border: 1px solid #e7ecf2;
  border-radius: 10px;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: #495d75;
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  outline: none;
  padding: 0 20px;
  padding-right: 50px;
  width: 100%;
}

.SearchFormInput::placeholder {
  font: inherit;
  font-size: 18px;
}
